In [1]:
# Importing Dependencies
import pandas as pd
from sqlalchemy import create_engine
from SQLpass import user, password

In [2]:
# URLs
# Passer Rating
url = "https://www.pro-football-reference.com/leaders/pass_rating_career.htm"
# Overall touchdowns
url2 = "https://www.pro-football-reference.com/leaders/pass_td_career.htm"
# Interception %
url3 = "https://www.pro-football-reference.com/leaders/pass_int_perc_career.htm"
# Yards Per Attempt
url4 = "https://www.pro-football-reference.com/leaders/pass_yds_per_att_career.htm"
# Total Passing Yards
url5 = "https://www.pro-football-reference.com/leaders/pass_yds_career.htm"
# Completion %
url6 = "https://www.pro-football-reference.com/leaders/pass_cmp_perc_career.htm"

### Passer Rating Table

In [3]:
# Extracting table html from site using Pandas
passer_rating = pd.read_html(url)
passer_rating

[      Rank           Player   Rate      Years   Tm
 0      1.0  Patrick Mahomes  108.7  2017-2020  kan
 1      2.0   Deshaun Watson  104.5  2017-2020  htx
 2      3.0    Aaron Rodgers  103.9  2005-2020  gnb
 3      4.0   Russell Wilson  101.7  2012-2020  sea
 4      5.0       Drew Brees   98.7  2001-2020  2TM
 ..     ...              ...    ...        ...  ...
 194  195.0        Jack Kemp   57.3  1957-1969  3TM
 195  196.0       Tobin Rote   56.8  1950-1966  4TM
 196  197.0  Cotton Davidson   54.9  1954-1968  3TM
 197  198.0      Mike Phipps   52.6  1970-1981  2TM
 198  199.0   Frank Tripucka   52.2  1949-1963  4TM

 [199 rows x 5 columns]]

In [4]:
# Converting html (came through as a list) to a DataFrame
# Rate = Passer Rating
# Tm = Team
passer_rating_df = passer_rating[0]
passer_rating_df

# Removing '+' signs from player names
passer_rating_df["Player"] = passer_rating_df["Player"].str.replace('+','')

newRateDf = passer_rating_df.rename(columns={"Rank":"rank","Player":"player",
                                                   "Rate":"passer_rating","Years":"years","Tm":"tm"})
newRateDf

      rank           player  passer_rating      years   tm
0      1.0  Patrick Mahomes          108.7  2017-2020  kan
1      2.0   Deshaun Watson          104.5  2017-2020  htx
2      3.0    Aaron Rodgers          103.9  2005-2020  gnb
3      4.0   Russell Wilson          101.7  2012-2020  sea
4      5.0       Drew Brees           98.7  2001-2020  2TM
..     ...              ...            ...        ...  ...
194  195.0        Jack Kemp           57.3  1957-1969  3TM
195  196.0       Tobin Rote           56.8  1950-1966  4TM
196  197.0  Cotton Davidson           54.9  1954-1968  3TM
197  198.0      Mike Phipps           52.6  1970-1981  2TM
198  199.0   Frank Tripucka           52.2  1949-1963  4TM

[199 rows x 5 columns]

### Touchdowns Table

In [ ]:
# Extracting table html from site using Pandas
touchdowns = pd.read_html(url2)
touchdowns

In [ ]:
# Converting html (came through as a list) to a DataFrame
# Tm = Team
touchdowns_df = touchdowns[0]
touchdowns_df 

# Removing '+' signs from player names
touchdowns_df["Player"] = touchdowns_df["Player"].str.replace('+','')

newTdDf = touchdowns_df.rename(columns={"Rank":"rank","Player":"player",
                                                   "TD":"td","Years":"years","Tm":"tm"})

newTdDf

### Interception Percentage Table

In [ ]:
# Extracting table html from site using Pandas
interception_percentage = pd.read_html(url3)
interception_percentage

In [ ]:
# Converting html (came through as a list) to a DataFrame
# Int% = Interception Percentage
# Tm = Team
interception_percentage_df = interception_percentage[0]
interception_percentage_df

# Removing '+' signs from player names
interception_percentage_df["Player"] = interception_percentage_df["Player"].str.replace('+','')

newDf = interception_percentage_df.rename(columns={"Rank":"rank","Player":"player",
                                                   "Int%":"int_percent","Years":"years","Tm":"tm"})

newDf

### Yards per Attempt Table

In [ ]:
# Extracting table html from site using Pandas
yardsperattempt = pd.read_html(url4)
yardsperattempt

In [ ]:
# Converting html (came through as a list) to a DataFrame
# Y/A = Yards per Attempt
# Tm = Team
yardsperattempt_df = yardsperattempt[0]
yardsperattempt_df

# Removing '+' signs from player names
yardsperattempt_df["Player"] = yardsperattempt_df["Player"].str.replace('+','')

newYpaDf = yardsperattempt_df.rename(columns={"Rank":"rank","Player":"player",
                                                   "Y/A":"ypa","Years":"years","Tm":"tm"})

newYpaDf

### Total Passing Yards Table

In [ ]:
# Extracting table html from site using Pandas
passing_yards = pd.read_html(url5)
passing_yards

In [ ]:
# Converting html (came through as a list) to a DataFrame
# Tm = Team
passing_yards_df = passing_yards[0]
passing_yards_df

# Removing '+' signs from player names
passing_yards_df["Player"] = passing_yards_df["Player"].str.replace('+','')

newYardsDf = passing_yards_df.rename(columns={"Rank":"rank","Player":"player",
                                                   "Yds":"yds","Years":"years","Tm":"tm"})


newYardsDf

### Completion Percentage Table

In [ ]:
# Extracting table html from site using Pandas
completion_percent = pd.read_html(url6)
completion_percent

In [ ]:
# Converting html (came through as a list) to a DataFrame
# Tm = Team
# Cmp% = Completion Percentage
completion_percent_df = completion_percent[0]
completion_percent_df

# Removing '+' signs from player names
completion_percent_df["Player"] = completion_percent_df["Player"].str.replace('+','')

newCompDf = completion_percent_df.rename(columns={"Rank":"rank","Player":"player",
                                                   "Cmp%":"comp_percent","Years":"years","Tm":"tm"})



newCompDf

## Importing Data into SQL

In [7]:
#Establishing a connecting to my SQL database
rds_connection_string = f"{user}:{password}@localhost:5432/superQBs_DB"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [8]:
#Checking to make sure all tables got read
engine.table_names()

['sb_qbs',
 'pass_td',
 'int_percent',
 'yards_per_attempt',
 'pass_yards',
 'comp_percent',
 'sb_qb_stats',
 'passer_rating']

In [9]:
#Taking the Passer rating DF and loading it into my table, then checking to see if it worked
newRateDf.to_sql(name='passer_rating', con=engine, if_exists='append', index=False)

pd.read_sql_query('select * from passer_rating', con=engine).head()

   rank           player  passer_rating      years   tm
0   1.0  Patrick Mahomes          108.7  2017-2020  kan
1   2.0   Deshaun Watson          104.5  2017-2020  htx
2   3.0    Aaron Rodgers          103.9  2005-2020  gnb
3   4.0   Russell Wilson          101.7  2012-2020  sea
4   5.0       Drew Brees           98.7  2001-2020  2TM

In [ ]:
#Taking the Pass TDs DF and loading it into my table, then checking to see if it worked
newTdDf.to_sql(name='pass_td', con=engine, if_exists='append', index=False)

pd.read_sql_query('select * from pass_td', con=engine).head()

In [ ]:
#Taking the interception percent DF, loading it into SQL, then checking if it worked
newDf.to_sql(name='int_percent', con=engine, if_exists='append', index=False)

pd.read_sql_query('select * from int_percent', con=engine).head()

In [ ]:
#Taking the Yards per attempt DF and loading it into my table, then checking to see if it worked
newYpaDf.to_sql(name='yards_per_attempt', con=engine, if_exists='append', index=False)

pd.read_sql_query('select * from yards_per_attempt', con=engine).head()

In [ ]:
#Taking the total passing yards DF and adding it to my SQL table
newYardsDf.to_sql(name='pass_yards', con=engine, if_exists='append', index=False)

pd.read_sql_query('select * from pass_yards', con=engine).head()

In [ ]:
#Taking the Completion Percentage DF and adding it to an SQL Table
newCompDf.to_sql(name='comp_percent', con=engine, if_exists='append', index=False)

pd.read_sql_query('select * from comp_percent', con=engine).head()