In [20]:
# Importing Dependencies
import pandas as pd
from sqlalchemy import create_engine
from SQLpass import user, password

In [21]:
# URLs
# Passer Rating
url = "https://www.pro-football-reference.com/leaders/pass_rating_career.htm"
# Overall touchdowns
url2 = "https://www.pro-football-reference.com/leaders/pass_td_career.htm"
# Interception %
url3 = "https://www.pro-football-reference.com/leaders/pass_int_perc_career.htm"
# Yards Per Attempt
url4 = "https://www.pro-football-reference.com/leaders/pass_yds_per_att_career.htm"
# Total Passing Yards
url5 = "https://www.pro-football-reference.com/leaders/pass_yds_career.htm"
# Completion %
url6 = "https://www.pro-football-reference.com/leaders/pass_cmp_perc_career.htm"

### Passer Rating Table

In [22]:
# Extracting table html from site using Pandas
passer_rating = pd.read_html(url)
passer_rating

[      Rank           Player   Rate      Years   Tm
 0      1.0  Patrick Mahomes  108.7  2017-2020  kan
 1      2.0   Deshaun Watson  104.5  2017-2020  htx
 2      3.0    Aaron Rodgers  103.9  2005-2020  gnb
 3      4.0   Russell Wilson  101.7  2012-2020  sea
 4      5.0       Drew Brees   98.7  2001-2020  2TM
 ..     ...              ...    ...        ...  ...
 194  195.0        Jack Kemp   57.3  1957-1969  3TM
 195  196.0       Tobin Rote   56.8  1950-1966  4TM
 196  197.0  Cotton Davidson   54.9  1954-1968  3TM
 197  198.0      Mike Phipps   52.6  1970-1981  2TM
 198  199.0   Frank Tripucka   52.2  1949-1963  4TM

 [199 rows x 5 columns]]

In [23]:
# Converting html (came through as a list) to a DataFrame
# Rate = Passer Rating
# Tm = Team
passer_rating_df = passer_rating[0]
passer_rating_df

# Removing '+' signs from player names
passer_rating_df["Player"] = passer_rating_df["Player"].str.replace('+','')
passer_rating_df

      Rank           Player   Rate      Years   Tm
0      1.0  Patrick Mahomes  108.7  2017-2020  kan
1      2.0   Deshaun Watson  104.5  2017-2020  htx
2      3.0    Aaron Rodgers  103.9  2005-2020  gnb
3      4.0   Russell Wilson  101.7  2012-2020  sea
4      5.0       Drew Brees   98.7  2001-2020  2TM
..     ...              ...    ...        ...  ...
194  195.0        Jack Kemp   57.3  1957-1969  3TM
195  196.0       Tobin Rote   56.8  1950-1966  4TM
196  197.0  Cotton Davidson   54.9  1954-1968  3TM
197  198.0      Mike Phipps   52.6  1970-1981  2TM
198  199.0   Frank Tripucka   52.2  1949-1963  4TM

[199 rows x 5 columns]

### Touchdowns Table

In [24]:
# Extracting table html from site using Pandas
touchdowns = pd.read_html(url2)
touchdowns

[      Rank          Player   TD      Years   Tm
 0      1.0       Tom Brady  581  2000-2020  2TM
 1      2.0      Drew Brees  571  2001-2020  2TM
 2      3.0  Peyton Manning  539  1998-2015  2TM
 3      4.0   Brett Favre +  508  1991-2010  4TM
 4      5.0   Philip Rivers  421  2004-2020  2TM
 ..     ...             ...  ...        ...  ...
 246    NaN     George Shaw   41  1955-1962  4TM
 247  248.0        Joe Kapp   40  1967-1970  2TM
 248    NaN     Frank Reich   40  1985-1998  4TM
 249    NaN  Steve Spurrier   40  1967-1976  2TM
 250    NaN     Steve Walsh   40  1989-1999  6TM

 [251 rows x 5 columns]]

In [25]:
# Converting html (came through as a list) to a DataFrame
# Tm = Team
touchdowns_df = touchdowns[0]
touchdowns_df 

# Removing '+' signs from player names
touchdowns_df["Player"] = touchdowns_df["Player"].str.replace('+','')
touchdowns_df

      Rank          Player   TD      Years   Tm
0      1.0       Tom Brady  581  2000-2020  2TM
1      2.0      Drew Brees  571  2001-2020  2TM
2      3.0  Peyton Manning  539  1998-2015  2TM
3      4.0    Brett Favre   508  1991-2010  4TM
4      5.0   Philip Rivers  421  2004-2020  2TM
..     ...             ...  ...        ...  ...
246    NaN     George Shaw   41  1955-1962  4TM
247  248.0        Joe Kapp   40  1967-1970  2TM
248    NaN     Frank Reich   40  1985-1998  4TM
249    NaN  Steve Spurrier   40  1967-1976  2TM
250    NaN     Steve Walsh   40  1989-1999  6TM

[251 rows x 5 columns]

### Interception Percentage Table

In [26]:
# Extracting table html from site using Pandas
interception_percentage = pd.read_html(url3)
interception_percentage

[      Rank            Player  Int%      Years   Tm
 0      1.0     Aaron Rodgers  1.4%  2005-2020  gnb
 1      NaN   Patrick Mahomes  1.4%  2017-2020  kan
 2      3.0      Dak Prescott  1.7%  2016-2020  dal
 3      4.0  Colin Kaepernick  1.8%  2011-2016  sfo
 4      NaN         Tom Brady  1.8%  2000-2020  2TM
 ..     ...               ...   ...        ...  ...
 194    NaN          Ed Brown  6.9%  1954-1965  3TM
 195  196.0    Frank Tripucka  7.1%  1949-1963  4TM
 196  197.0      Sid Luckman+  7.6%  1939-1950  chi
 197  198.0     Eddie LeBaron  7.9%  1952-1963  2TM
 198    NaN   Bob Waterfield+  7.9%  1945-1952  ram

 [199 rows x 5 columns]]

In [43]:
# Converting html (came through as a list) to a DataFrame
# Int% = Interception Percentage
# Tm = Team
interception_percentage_df = interception_percentage[0]
interception_percentage_df

# Removing '+' signs from player names
interception_percentage_df["Player"] = interception_percentage_df["Player"].str.replace('+','')

newDf = interception_percentage_df.rename(columns={"Int%":"Int Percent"})

newDf

      Rank            Player Int Percent      Years   Tm
0      1.0     Aaron Rodgers        1.4%  2005-2020  gnb
1      NaN   Patrick Mahomes        1.4%  2017-2020  kan
2      3.0      Dak Prescott        1.7%  2016-2020  dal
3      4.0  Colin Kaepernick        1.8%  2011-2016  sfo
4      NaN         Tom Brady        1.8%  2000-2020  2TM
..     ...               ...         ...        ...  ...
194    NaN          Ed Brown        6.9%  1954-1965  3TM
195  196.0    Frank Tripucka        7.1%  1949-1963  4TM
196  197.0       Sid Luckman        7.6%  1939-1950  chi
197  198.0     Eddie LeBaron        7.9%  1952-1963  2TM
198    NaN    Bob Waterfield        7.9%  1945-1952  ram

[199 rows x 5 columns]

### Yards per Attempt Table

In [28]:
# Extracting table html from site using Pandas
yardsperattempt = pd.read_html(url4)
yardsperattempt

[      Rank               Player  Y/A      Years   Tm
 0      1.0         Otto Graham+  9.0  1946-1955  cle
 1      2.0         Sid Luckman+  8.4  1939-1950  chi
 2      NaN      Patrick Mahomes  8.4  2017-2020  kan
 3      4.0       Deshaun Watson  8.3  2017-2020  htx
 4      5.0  Norm Van Brocklin +  8.2  1949-1960  2TM
 ..     ...                  ...  ...        ...  ...
 194  195.0       Frank Tripucka  5.9  1949-1963  4TM
 195    NaN          Kyle Boller  5.9  2003-2011  3TM
 196    NaN           Rick Mirer  5.9  1993-2003  5TM
 197  198.0          Mike Phipps  5.8  1970-1981  2TM
 198    NaN      Joey Harrington  5.8  2002-2007  3TM

 [199 rows x 5 columns]]

In [29]:
# Converting html (came through as a list) to a DataFrame
# Y/A = Yards per Attempt
# Tm = Team
yardsperattempt_df = yardsperattempt[0]
yardsperattempt_df

# Removing '+' signs from player names
yardsperattempt_df["Player"] = yardsperattempt_df["Player"].str.replace('+','')
yardsperattempt_df

      Rank              Player  Y/A      Years   Tm
0      1.0         Otto Graham  9.0  1946-1955  cle
1      2.0         Sid Luckman  8.4  1939-1950  chi
2      NaN     Patrick Mahomes  8.4  2017-2020  kan
3      4.0      Deshaun Watson  8.3  2017-2020  htx
4      5.0  Norm Van Brocklin   8.2  1949-1960  2TM
..     ...                 ...  ...        ...  ...
194  195.0      Frank Tripucka  5.9  1949-1963  4TM
195    NaN         Kyle Boller  5.9  2003-2011  3TM
196    NaN          Rick Mirer  5.9  1993-2003  5TM
197  198.0         Mike Phipps  5.8  1970-1981  2TM
198    NaN     Joey Harrington  5.8  2002-2007  3TM

[199 rows x 5 columns]

### Total Passing Yards Table

In [30]:
# Extracting table html from site using Pandas
passing_yards = pd.read_html(url5)
passing_yards

[     Rank           Player    Yds      Years   Tm
 0       1       Drew Brees  80358  2001-2020  2TM
 1       2        Tom Brady  79204  2000-2020  2TM
 2       3   Peyton Manning  71940  1998-2015  2TM
 3       4    Brett Favre +  71838  1991-2010  4TM
 4       5    Philip Rivers  63440  2004-2020  2TM
 ..    ...              ...    ...        ...  ...
 245   246   Bobby Douglass   6493  1969-1978  4TM
 246   247   Brandon Weeden   6462  2012-2018  3TM
 247   248  Jacoby Brissett   6459  2016-2020  2TM
 248   249    Scott Brunner   6457  1980-1985  2TM
 249   250       Colt McCoy   6455  2010-2020  4TM

 [250 rows x 5 columns]]

In [31]:
# Converting html (came through as a list) to a DataFrame
# Tm = Team
passing_yards_df = passing_yards[0]
passing_yards_df

# Removing '+' signs from player names
passing_yards_df["Player"] = passing_yards_df["Player"].str.replace('+','')
passing_yards_df

     Rank           Player    Yds      Years   Tm
0       1       Drew Brees  80358  2001-2020  2TM
1       2        Tom Brady  79204  2000-2020  2TM
2       3   Peyton Manning  71940  1998-2015  2TM
3       4     Brett Favre   71838  1991-2010  4TM
4       5    Philip Rivers  63440  2004-2020  2TM
..    ...              ...    ...        ...  ...
245   246   Bobby Douglass   6493  1969-1978  4TM
246   247   Brandon Weeden   6462  2012-2018  3TM
247   248  Jacoby Brissett   6459  2016-2020  2TM
248   249    Scott Brunner   6457  1980-1985  2TM
249   250       Colt McCoy   6455  2010-2020  4TM

[250 rows x 5 columns]

### Completion Percentage Table

In [32]:
# Extracting table html from site using Pandas
completion_percent = pd.read_html(url6)
completion_percent

[      Rank             Player   Cmp%      Years   Tm
 0      1.0     Deshaun Watson  67.8%  2017-2020  htx
 1      2.0         Drew Brees  67.7%  2001-2020  2TM
 2      3.0       Kirk Cousins  67.0%  2012-2020  2TM
 3      4.0  Teddy Bridgewater  66.5%  2014-2020  3TM
 4      5.0    Chad Pennington  66.0%  2000-2010  2TM
 ..     ...                ...    ...        ...  ...
 194  195.0     George Blanda+  47.7%  1949-1975  4TM
 195  196.0          Jack Kemp  46.7%  1957-1969  3TM
 196  197.0       Babe Parilli  46.6%  1952-1969  5TM
 197  198.0         Tobin Rote  45.7%  1950-1966  4TM
 198  199.0    Cotton Davidson  43.9%  1954-1968  3TM

 [199 rows x 5 columns]]

In [33]:
# Converting html (came through as a list) to a DataFrame
# Tm = Team
# Cmp% = Completion Percentage
completion_percent_df = completion_percent[0]
completion_percent_df

# Removing '+' signs from player names
completion_percent_df["Player"] = completion_percent_df["Player"].str.replace('+','')
completion_percent_df

      Rank             Player   Cmp%      Years   Tm
0      1.0     Deshaun Watson  67.8%  2017-2020  htx
1      2.0         Drew Brees  67.7%  2001-2020  2TM
2      3.0       Kirk Cousins  67.0%  2012-2020  2TM
3      4.0  Teddy Bridgewater  66.5%  2014-2020  3TM
4      5.0    Chad Pennington  66.0%  2000-2010  2TM
..     ...                ...    ...        ...  ...
194  195.0      George Blanda  47.7%  1949-1975  4TM
195  196.0          Jack Kemp  46.7%  1957-1969  3TM
196  197.0       Babe Parilli  46.6%  1952-1969  5TM
197  198.0         Tobin Rote  45.7%  1950-1966  4TM
198  199.0    Cotton Davidson  43.9%  1954-1968  3TM

[199 rows x 5 columns]

## Importing Data into SQL

In [36]:
#Establishing a connecting to my SQL database
rds_connection_string = f"{user}:{password}@localhost:5432/superQBs_DB"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [37]:
#Checking to make sure all tables got read
engine.table_names()

['sb_qbs',
 'passer_rating',
 'pass_td',
 'int_percent',
 'yards_per_attempt',
 'pass_yards',
 'comp_percent']

In [39]:
#Taking the Passer rating DF and loading it into my table, then checking to see if it worked
passer_rating_df.to_sql(name='passer_rating', con=engine, if_exists='append', index=False)

pd.read_sql_query('select * from passer_rating', con=engine).head()

   Rank           Player   Rate      Years   Tm
0   1.0  Patrick Mahomes  108.7  2017-2020  kan
1   2.0   Deshaun Watson  104.5  2017-2020  htx
2   3.0    Aaron Rodgers  103.9  2005-2020  gnb
3   4.0   Russell Wilson  101.7  2012-2020  sea
4   5.0       Drew Brees   98.7  2001-2020  2TM

In [40]:
#Taking the Pass TDs DF and loading it into my table, then checking to see if it worked
touchdowns_df.to_sql(name='pass_td', con=engine, if_exists='append', index=False)

pd.read_sql_query('select * from pass_td', con=engine).head()

   Rank          Player   TD      Years   Tm
0   1.0       Tom Brady  581  2000-2020  2TM
1   2.0      Drew Brees  571  2001-2020  2TM
2   3.0  Peyton Manning  539  1998-2015  2TM
3   4.0    Brett Favre   508  1991-2010  4TM
4   5.0   Philip Rivers  421  2004-2020  2TM

In [44]:
#Taking the interception percent DF, loading it into SQL, then checking if it worked
newDf.to_sql(name='int_percent', con=engine, if_exists='append', index=False)

pd.read_sql_query('select * from int_percent', con=engine).head()

   Rank            Player Int Percent      Years   Tm
0   1.0     Aaron Rodgers        1.4%  2005-2020  gnb
1   NaN   Patrick Mahomes        1.4%  2017-2020  kan
2   3.0      Dak Prescott        1.7%  2016-2020  dal
3   4.0  Colin Kaepernick        1.8%  2011-2016  sfo
4   NaN         Tom Brady        1.8%  2000-2020  2TM